<div class="app-dialog">
    <div class="break-title">
        Time for a break!
    </div>


    <mat-grid-list class="break-content" cols="3" rowHeight="200px">
        <mat-grid-tile *ngFor="let card of cards" colspan="1" rowspan="1">
            <div class="tile">
                <mat-icon color="primary" class="tile-icon {{card.title}}">{{card.iconName}}</mat-icon>
                <div class="tile-title">{{card.title}}</div>
                <div class="tile-content">{{card.content}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>