
/* .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 */
.stopwatch-controls{
    min-width: 200px;
    min-height: 100px;
    margin-top: 10vh;
}


app-stopwatch-timer{
    
}